<html>

<head>

	<title>Data Board - The Settlers of Catan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/game.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/game.js"></script>

</head>

<body>

	<h2 class="header">DATABOARD</h2>

	<form class="header searchbar" action="#">
		<input type="text" placeholder="Search..">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>

	<div class="tabs">
		<a href="/home">HOME</a>
		<div class="midtab">
			<a class="dropdown-toggle" data-toggle="dropdown">Categories</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/new_releases">New Releases</a></li>
				<li><a href="/trending">Trending</a></li>
				<li><a href="/party">Party</a></li>
				<li><a href="/family">Family</a></li>
				<li><a href="/card">Card</a></li>
				<li><a class="kids" href="/kids">Kids</a></li>
			</ul>
		</div>
		<a href="/contact">CONTACT</a>
	</div>

	<input class="back-btn" type="button" value="<< back" onClick="history.go(-1);">
	<h1 class="gametitle"> THE SETTLERS OF CATAN </h1>

	<button class="buy-game"
		onclick="window.open('https://www.amazon.com/Catan-Studios-cantan2017/dp/B00U26V4VQ?ref_=fsclp_pl_dp_1','_blank');">Buy</button>
	<p class="game-rating">Rating 4.8/5</p>
	<img class="gamepic" src="https://crowscastle.com/375-large_default/the-settlers-of-catan.jpg"></img>

	<p class="gamedescription">The Settlers of Catan from Mayfair Games is an award-winning strategy game where players
		collect resources and
		use them to build roads, settlements and cities on their way to victory. The board itself is variable, making
		each game a little different from the next.</p>

	<a class="gamemanual" target="_blank" href="https://www.catan.com/service/game-rules">Link To Manual</a>

	<iframe class="gamevid" width="240" height="160" src="https://www.youtube.com/embed/cPhX_1RiwEg">
	</iframe>

</body>

</html>