<html>

<head>

	<title>Data Board - Coup</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/game.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/game.js"></script>

</head>

<body>

	<h2 class="header">DATABOARD</h2>

	<form class="header searchbar" action="#">
		<input type="text" placeholder="Search..">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>

	<div class="tabs">
		<a href="/home">HOME</a>
		<div class="midtab">
			<a class="dropdown-toggle" data-toggle="dropdown">Categories</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/new_releases">New Releases</a></li>
				<li><a href="/trending">Trending</a></li>
				<li><a href="/party">Party</a></li>
				<li><a href="/family">Family</a></li>
				<li><a href="/card">Card</a></li>
				<li><a class="kids" href="/kids">Kids</a></li>
			</ul>
		</div>
		<a href="/contact">CONTACT</a>
	</div>

	<input class="back-btn" type="button" value="<< back" onClick="history.go(-1);">
	<h1 class="gametitle"> COUP </h1>

	<button class="buy-game"
		onclick="window.open('https://www.amazon.com/Indie-Boards-and-Cards-COU1IBC/dp/B00GDI4HX4','_blank');">Buy</button>
	<p class="game-rating">Rating 4.8/5</p>
	<img class="gamepic"
		src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQ3hlvXNoAJEkNEEmdpeHaPWlbOfgHQldsum7EUU0kKmNGBaF8"></img>

	<p class="gamedescription">In Coup, you want to be the last player with influence in the game, with influence being
		represented by face-down character cards in your playing area. Each player starts the game with two coins and
		two influence – i.e., two face-down character cards; the fifteen
		card deck consists of three copies of five different characters, each with a unique set of powers.</p>

	<a class="gamemanual" target="_blank" href="https://herebegames.com.au/rulebooks/Coup-Rules.pdf">Link To Manual</a>

	<iframe class="gamevid" width="240" height="160" src="https://www.youtube.com/embed/a8bY3zI9FL4">
	</iframe>

</body>

</html>