<html>

<head>

	<title>Data Board - Exploding Kittens</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/game.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/game.js"></script>

</head>

<body>

	<h2 class="header">DATABOARD</h2>

	<form class="header searchbar" action="#">
		<input type="text" placeholder="Search..">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>

	<div class="tabs">
		<a href="/home">HOME</a>
		<div class="midtab">
			<a class="dropdown-toggle" data-toggle="dropdown">Categories</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/new_releases">New Releases</a></li>
				<li><a href="/trending">Trending</a></li>
				<li><a href="/party">Party</a></li>
				<li><a href="/family">Family</a></li>
				<li><a href="/card">Card</a></li>
				<li><a class="kids" href="/kids">Kids</a></li>
			</ul>
		</div>
		<a href="/contact">CONTACT</a>
	</div>

	<input class="back-btn" type="button" value="<< back" onClick="history.go(-1);">
	<h1 class="gametitle"> EXPLODING KITTENS </h1>

	<button class="buy-game"
		onclick="window.open('https://www.amazon.com/Exploding-Kittens-LLC-EKG-ORG1-1-Card/dp/B010TQY7A8','_blank');">Buy</button>
	<p class="game-rating">Rating 4.6/5</p>
	<img class="gamepic" src="https://i5.walmartimages.ca/images/Enlarge/957/107/6000199957107.jpg"></img>

	<p class="gamedescription">Exploding kittens is a card game for people who are into kittens and explosions and laser
		beams and sometimes goats. In this highly-strategic, kitty-powered version of Russian roulette, players draw
		cards until someone draws an exploding kitten, at which point They explode, they are Dead, and they are out of
		the game -- unless that player has a defuse card, which can defuse the kitten using things like laser pointers,
		belly rubs, and catnip sandwiches. All of the other cards in the deck are used to move, mitigate, or avoid the
		exploding kittens.</p>

	<a class="gamemanual" target="_blank"
		href="https://explodingkittens.com/downloads/rules/Exploding-Kittens_Rules.pdf">Link To Manual</a>

	<iframe class="gamevid" width="240" height="160" src="https://www.youtube.com/embed/kAkRKuv5Rts">
	</iframe>

</body>

</html>